body{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.navigationbar{
    height: 80px;
    width: 100%;
    background-color:rgb(67,53,59,.8);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: fixed;
}
.left{
    margin-left: 100px;
}
.right{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    gap: 10px;
}
.rightup,.rightdown{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
a{
    text-decoration: none;
    color: white;
}
select{
    border: none;
    background-color: rgba(67,53,59,.2);
    color: #ffffff;
   
}
.beansbackground{
    background-image: url(../photosss/backbeans.jpg); 
    background-position:bottom;
    background-repeat: no-repeat;
    height: 600px;
    width:1348px;
    background-size: cover; 
    color: white;
}
.beans{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    /* background-color: #b89989; */
}
.beans1{
    margin-top: 85px;
}
h4{
    margin: 0px;
}
h1{
    font-size: 60px;
}
button{
    height: 40px;
    width: 150px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}
.cup{
    height: 500px;
    width: 90%;
    margin-top: 80px;
}
.video{
    height: fit-content;
    width: 1000px;
    display: flex;
    flex-direction: row;
    margin: 50px 180px;
    gap: 100px;
    background-color: #b89989;
}
.vileft{
    background-image: url(../photosss/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 500px;
}
.viright{
    width: 400px;
    margin-top: 70px;
    color:black;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
h2{
    font-size:15px;
    font-weight: lighter;
    color: whitesmoke;
    margin: 0px;
}
h3{
    font-size: 35px;
    margin: 0px;
    /* color: black; */
}
h5{
    font-size: 18px;
    font-weight: lighter;
    /* color: black; */
    margin: 0px;
}
.menu{
    height:900px;
    width:1348px;
    margin-top: 100px;
    background-color:#fafafc;
    display: flex;
    flex-direction: column;
    /* margin-left: 100px;
    margin-right: 100px; */
}
.top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   padding: 100px;  
   gap: 20px;
}
.bottom{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    margin-left: 150px;
    margin-right: 150px;
}
.box{
    height: 150px;
    /* border: 1px solid black; */
    display: flex;
    padding-left: 20px;
    background-color:white;
    border-radius: 10px;
    box-shadow: 0px 0px 25px gainsboro;
    flex-direction: column;
    gap: 10px;
}
.bottom9{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     margin-right: 30px; 
    margin-top: 40px;
}
.dollor{
    color:#b68834;
}
.baristapic{
    height: 750px;
    margin-left: 100px;
    margin-right: 75px;
    display:grid;
    grid-template-columns: auto auto;
}
.leftbp,.rightbp{
    display: grid;
    grid-template-columns: auto;
}
.rightbp2{
    display: grid;
    grid-template-columns: auto auto;
}
.counting{
    height: 700px;
    width: 1349px;
    background-color: #b68834;
    color: #ffffff;
    margin-top: 100px;  
}

.stamp{
    display: flex;
    flex-direction: row;
    margin: 0px 100px;
}
.stampic{
    height: 50px;
    width: 50px;
}
.stampleft,.stampright{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.stamplast{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 50px 100px;   
}
h6{
    font-size:45px;
    font-weight: lighter;
    margin: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.secondlast{
    height: 900px;
    width: 1340px;
    display: flex;
    flex-direction: column;
}
.sl2{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-right: 100px;
    gap: 30px;
}
.slpic{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.slbutton{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.slb{
    height: 30px;
    width: 100px;
    border: 1px solid gray;
    background-color: #ffffff;
}
.last{
    background-image: url(../photosss/last.jpg);
    height: 600px;
    width: 1348px;
    background-repeat: no-repeat;
    background-size: cover;
   display: flex;
   flex-direction: row;
    color: white;
    gap: 70px;
}
.about{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    width: 450px;
}
.news{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 20px;
}
input{
    height: 30px;
    width: 250px;
    padding-left: 20px;
}
.follow{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.pic{
    height: 20px;
    width: 20px;
}
.photo{
    display: flex;
    gap: 10px;
}
.menuIcon{
    display: none;
}




/* for tablet */

@media(max-width:768px) {
    .navigationbar{
        height: 60px;
       font-size: 13px;
    }
    .left{
        margin-left: 10px;
    }
    .right{
       margin-left: 150px;
    }
    select{
       font-size: 13px;
    }
    .beansbackground{
        height: fit-content;
        width: 100%;
       }
    .beans{
        margin-left: 100px;
        margin-right: 100px;
    }
    .beans1{
        margin-top: 70px;
    }
    .beans h4{
        margin: 0px;
       padding: 0px;
    }
    h1{
        font-size: 70px;
        margin: 0px;
    }
    button{
        height: 40px;
        width: 100px;
        border-radius: 20px;
        margin-top: 10px;
    }
   .cup{ 
    height: 400px;
    margin-top: 60px;
    }
    .video{
     width: 100%; 
        display: flex;
        margin: 15px 0px;
        gap: 25px;
    }
    .vileft{
        height: 500px;
    }
    .viright{
         margin-top: 50px;
    }

    .video h2{
        font-size:20px;
    }
    .video h3{
        font-size: 35px;
    }
     .video h5{
        font-size: 20px;
     }
    .menu{
        height:fit-content;
        width:100%;
        margin: 0px;
        margin-top: 15px;
    }
    .top{
      padding: 0px;
    }
    .top h3{
        font-size: 25px;
        margin-left: 15px;
    }
    .top h5{
        font-size: 17px;
        margin-left: 15px;
    }
    .bottom{
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 9px;
       margin:0px;
       margin-left: 30px;
    }
    .bottom9{
        margin:9px;
    }
    .box{
        margin: 0px;
        height:fit-content;
        width: 180px;
        padding: 0px;
    }
    .baristapic{
        height: fit-content;
        width: 100%;
       margin: 0px;
       padding: 0px;
        display:grid;
        grid-template-columns: auto auto;
    }
   .top h3{
    margin-top: 15px;
   }

    .barista h5{
        margin-left: 15px;
    }
    .photoba1{
        height:200px;
        width:95%;
    }
    .photoba2{
        height:200px;
        width: 95%;
    }
    .photoba3{
        height: 200px;
        width: 100%;
    }
    .rightbp2{
        display: grid;
        grid-template-columns: auto auto;
    }
    .twobp{
        height: 200px;
        width:95%;
    }
    .photoba4{
        height: 200px;
        width: 100%;
    }
    
    .counting{
        background-color:#b68834;
        height: fit-content;
        width: 100%;
        font-size: 12px;
        margin-top: 5px;
    }
    .counting h5{
        margin-left: 15px;
    }
    .stamp{
      display: flex;
      gap: 15px;
    margin: 0px;
    padding: 5px;
    }
    .stamp h4{
        font-size: 15px;
    }
    .stamplast{
        display: grid;
        grid-template-columns: auto auto ;
        margin: 0px 5px; 
        font-size: 13px;   
    }
    h6{
        font-size:15px;
    }
    .secondlast{
        height: fit-content;
        width: 100%;
        font-size: 15px;
    }
    .slpic h5{
        font-size: 15px;
    }
    .sl2{
       margin: 0px 10px;
        gap: 10px;
    }
    .sl2 h4{
        margin-top: 10px;
    }
    .slpic{
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
    .slbutton{
        gap: 10px;
    }
    .slb{
        height: 30px;
        width: 70px;
        font-size: 15px;
    } 
    .happy{
        height: 200px;
        width:90%;
    }
    .secondlast h5{
       margin-bottom:10px;
    }

    .last{
        height: fit-content;
        width: 100%;
      margin-top: 15px;
    }
    .about{
        margin-top: 50px;
        margin-left:8px;
        font-size: 17px;
        display: flex;
        gap: 0px;
    }
    
    .news{
        margin-top:50px;
        font-size: 17px;
        gap: 10px;
    }
    input{
        height: 20px;
        width: 100px;
        padding-left: 8px;
        font-size: 15px;
    }
    .follow{
        margin-top: 50px;
        gap: 10px;
        font-size: 17px;
        margin-right: 3px;
    }
    .pic{
        height: 18px;
        width: 18px;
    }
    .photo{
        display: flex;
        gap: 3px;
    }

}
















/* media queries start here */

@media(max-width:480px) {
   
        
    .navigationbar{
        height: fit-content;
        width: 100%;
        font-size: 10px;
        gap: 5px;
    }
    .left{
        margin-left: 0px;
    }
    .right{
       display: none;
    }
    .beansbackground{
        height: fit-content;
        width:100%;
        background-size: cover; 
        color: white;
    }
    .beans{
        margin-left: 50px;
        margin-right: 100px;  
    }
    .beans1{
        margin-top: 55px;
    }
    .beans h4{
        margin: 0px;
       padding: 0px;
    }
    h1{
        font-size: 50px;
        margin: 0px;
    }
    button{
        height: 30px;
        width: 80px;
        border-radius: 40px;
        border: none;
        cursor: pointer;
    }
   .cup{ 
        display: none;
    }
    .video{
        height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 5px 0px;
        gap: 15px;
    }
    .vileft{
        background-position: center;
        height: 800px;
        /* width: 50%; */
    }
    .viright{
        height: fit-content;
        /* width: 50%; */
        margin-top: 20px;
        display: flex;
        justify-content: left;
      
    }

    .video h2{
        font-size:15px;
        margin: 0px;
        padding: 0px;
    }
    .video h3{
        font-size: 30px;
        margin: 0px;
        padding: 0px;
    }
     .video h5{
        font-size: 18px;
        padding: 0px;
        margin: 0px;
    }
    

    .menu{
        height:fit-content;
        width:100%;
        margin: 0px;
    }
    .top{
      padding: 0px;
    }
    .top h3{
        font-size: 25px;
        margin-left: 15px;
    }
    .top h5{
        font-size: 17px;
        margin-left: 15px;
    }
    .bottom{
        display: grid;
        grid-template-columns: auto;
        gap: 10px;
       margin-left: 50px;
    }
    .bottom9{
        margin:9px;
    }
    .box{
        margin: 0px;
        height:fit-content;
        width: 100%;
    }
    .baristapic{
        height: fit-content;
        width: 100%;
        display:grid;
        grid-template-columns: auto auto;
        padding: 0px;
        margin: 0px;
    }
   .top h3{
    margin-top: 15px;
   }

    .barista h5{
        margin-left: 15px;
    }
    .photoba1{
        height:150px;
        width:140px;
    }
    .photoba2{
        height:150px;
        width: 140px;

    }
    .photoba3{
        height: 100px;
        width: 140px;
    }
    .rightbp2{
        display: grid;
        grid-template-columns: auto;
    }
    .twobp{
        height: 100px;
        width:140px;
    }
    .photoba4{
        height: 100px;
        width: 140px;
    }
    .counting{
        background-color:#b68834;
        height: fit-content;
        width: 100%;
        font-size: 12px;
        margin-top: 5px;
    }
    .counting h5{
        margin-left: 15px;
    }
    .stamp{
      display: flex;
      gap: 15px;
    margin: 0px;
    padding: 5px;
    }
    .stamp h4{
        font-size: 15px;
    }
    .stamplast{
        display: grid;
        grid-template-columns: auto auto ;
        margin: 0px 5px; 
        font-size: 13px;   
    }
    h6{
        font-size:15px;
    }
    .secondlast{
        height: fit-content;
        width: 100%;
        font-size: 15px;
    }
    .slpic h5{
        font-size: 15px;
    }
    .sl2{
       margin: 0px;
        gap: 5px;
    }
    .slpic{
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
    .slbutton{
        gap: 2px;
    }
    .slb{
        height: 15px;
        width: 50px;
        font-size: 10px;
    } 
    .happy{
        height: 150px;
        width:140px;
    }
    .secondlast h5{
       margin:15px
    }

    .last{
        height: fit-content;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
       display: flex;
       flex-direction: row;
        color: white;
        gap: 10px;
    }
    .about{
        margin-top: 50px;
        margin-left:3px;
        font-size: 13px;
        display: flex;
        gap: 0px;
    }
    
    .news{
        margin-top:50px;
        font-size: 13px;
        gap: 10px;
    }
    input{
        height: 10px;
        width: 60px;
        padding-left: 8px;
        font-size: 10px;
    }
    .follow{
        margin-top: 50px;
        gap: 10px;
        font-size: 13px;
        margin-right: 3px;
    }
    .pic{
        height: 18px;
        width: 18px;
    }
    .photo{
        display: flex;
        gap: 3px;
    }

}









